name: Deploy to GCP App Engine

on:
  push:
    branches:
      - main  

jobs:
  deploy:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout code
      uses: actions/checkout@v4

    - name: Authenticate with GCP
      uses: google-github-actions/auth@v2
      with:
        credentials_json: '${{ secrets.GCP_CREDENTIALS }}'

    - name: Deploy to App Engine
      uses: google-github-actions/deploy-appengine@v2
      with:
        project_id: '${{ secrets.GCP_PROJECT_ID }}'
